<div class="btn-container">
    <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
    >
        New Item
    </button>

    <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Add New Task
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <button
                        class="btn btn-default"
                        type="button"
                        (click)="onAddNewItem()"
                    >
                        <img [src]="myImage" width="20" alt="image" />
                    </button>
                    <div class="container">
                        <div class="row" style="border-bottom: 1px">
                            <div class="col-sm-1"></div>
                            <div class="col" style="text-align: center">
                                Title
                            </div>
                            <div class="col" style="text-align: center">
                                Creator
                            </div>
                            <hr />
                        </div>
                    </div>

                    <form [formGroup]="newItemForm">
                        <div class="form-group" formArrayName="newItems">
                            <div
                                *ngFor="
                                    let newItem of getNewItems();
                                    let i = index
                                "
                            >
                                <!-- <div class="container"> -->
                                <div
                                    [formGroupName]="i"
                                    class="row"
                                    style="margin-bottom: 10px"
                                >
                                    <div
                                        class="col-sm-1"
                                        style="
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                        "
                                    >
                                        {{ i + 1 }}
                                    </div>
                                    <div class="col-sm-5">
                                        <input
                                            type="text"
                                            formControlName="title"
                                            style="text-align: center"
                                        />
                                    </div>
                                    <div class="col-sm-5">
                                        <input
                                            type="text"
                                            formControlName="creator"
                                            style="text-align: center"
                                        />
                                    </div>
                                    <div class="col-sm-1" style="padding: 0px">
                                        <button
                                            class="btn"
                                            style="padding: 0px"
                                            (click)="onDeleteNewItem(i)"
                                        >
                                            <img
                                                src="https://img.icons8.com/pastel-glyph/128/000000/minus--v2.png"
                                                width="20"
                                            />
                                        </button>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                        [disabled]="newItemForm.invalid"
                        (click)="onAddNewListItems()"
                    >
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
